{% extends "base.html" %} 
<!-- a blue print base html (headers, titles, block contents, footers, etc.), using the html stylesheet -->
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %} 
<!-- link to the block content part (like a container) in the base html  -->

{% if request.user.is_authenticated %}
<div class="form-group"></div>
    <form action="" method="post" class="create-story-form">
        {% csrf_token %} 
        <!-- prevent harmful things submit to the form (e.g. deleting the entire database) for security reasons -->
        {{ form.as_p }} 
        <!-- insert the form and display as paragraph -->
        <input type="submit" value="Submit" class="create-story-form-button">
    </form>
</div>
{% else %}
<div>Please Login / Sign up to Create Story</div>
{% endif %}

{% endblock %}